.table__wrapper {
  overflow-x: auto;
  width: 100%;
}
.table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 1.4rem;
  margin-top: 10px;
  margin-bottom: 100px;
  max-width: 900px;
  min-width: 600px;
}

.table thead {
  background-color: #f2f2f2;
  cursor: pointer;
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
  border-bottom: 2px solid #3c634f;
  height: 60px;
}

.table tbody tr:nth-child(even) {
  background-color: #eafff8c3;
}

.table tbody tr {
  background-color: #eaf6ff;
  height: 60px;
}

.table__content--no-employee {
  text-align: center;
  font-weight: bold;
  color: #323232;
}

@media screen and (max-width: 900px) {
  .table {
    font-size: 1.2rem;
  }

  .table th,
  .table td {
    padding: 8px;
    height: auto;
  }
  tr {
    height: 40px;
  }
}
